.nav,
.links {
    display: flex;
}
.links {
    flex: 1;
    justify-content: center;
    position: relative;
    gap: 9px;
}
.nav .nav__tab {
    display: flex;
    align-items: center;
}
.router-link-active.router-link-exact-active .wrapper span {
    background: var(--active-linear-gradient);
    background-size: cover;
}
.nav .nav__tab .wrapper:hover span,
.nav .nav__actions .wrapper:hover a {
    text-decoration: underline;
}
.nav .nav__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav .nav__actions .nav__icon {
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease;
    padding: 10px;
}
.nav .nav__actions .nav__icon img, .nav__tab img {
    height: 3.5rem;
}

.nav .nav__tab .wrapper,
.nav .nav__actions .wrapper {
    background: var(--vertical-gradient);
    padding: 3px;
    border-radius: 14px;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 0 20px var(--color-shadow);
}

.nav .nav__tab span {
    display: block;
    padding: 25px 10px;
    text-align: center;
    border-radius: 10px;
    background: var(--color-background-button);
    box-sizing: border-box;
    z-index: 1;
    font-size: 35px !important;
}

.nav .nav__tab span:not(.nav__cta) {
    min-width: 13vw;
}
.nav__tab:last-child, .nav__tab:nth-child(4) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.nav__tab:nth-child(4) {
    right: 10rem;
}

@media only screen and (max-width: 1025px) {
    .nav__tab:last-child, .nav__tab:nth-child(4) {
        position: static;
        right: auto;
        top: auto;
        transform: translateY(0);
    }
    .nav .links{
        position: static;
    }
}